.login {
  width: 505px;
  height: 497px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  row-gap: 40px;
}

.login button {
  background: none;
  width: 100%;
  border: none;
}

.login h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 406px;
}

.form div {
  width: 408px;
  border: none;
  margin: 13px 20px;
}

.form label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.form input {
  padding: 20px;
  width: 406px;
  height: 56px;
  border: 0px;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.img_button {
  width: 46px;
  height: 46px;
}

.cadastro {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.cadastro h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}
