.container {
  display: flex;
  width: auto;
  height: 656px;
  align-items: center; /*centraliza horizontalmente*/
  justify-content: center; /*cetraliza verticalmente*/
  gap: 80px;

}

.text {
  color: white;
}

.imgs {
  position: relative;
  padding: 20px 40px 40px 40px; 
  align-items: center;
  justify-content: center;
}

.circulo {
  display: flex;
  width: 280px;
  height: 280px;
  align-items: center;
  justify-content: center;
}

.circulo img {
  position: absolute;
  
}





