.header {
  /* background-color: red; */
  width: 100%;
  height: 160px;
  display: flex;
}

.header img {
  position: absolute;
  height: 98px;
  width: 108px;
  right: 0px;
  background-color: white;
  padding: 15px;
  border-radius:50px;
  margin: 10px 10px 10px 10px
}